@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sansita+Swashed:wght@300&family=Spline+Sans+Mono&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sansita+Swashed:wght@300&family=Spline+Sans+Mono&family=Ubuntu:ital@1&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* font-family: 'Spline Sans Mono', monospace; */
}

#navbar{
    background-color: #c351ce;
    padding: 11px 286px;
    /* position: fixed; */
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    padding: 13.5px 30px;
    text-decoration: none;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 1.1rem;
    color: white;
}

#navbar li a:hover{
    background-color: rgb(38, 39, 39);
}

#logo{
    display: flex;
}

#logo img{
    height: 26px;
    margin-left: -250px;
    filter: invert(1);
}

#logo p{
    color: white;
    margin: 4px 6px;
}

h1{
    text-align: center;
    margin: 12px;
}

.myInput{
    width: 40%;
    margin: 10px;
    height: 34px;
    font-size: 15px;
    border: 2px solid blue;
    border-radius: 9px;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    border: 2px solid black;
    padding: 8px 28px;
    border-radius: 16px;
    font-size: 16px;
}

#footer{
    background-color: hwb(0 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 20px;
    color: white;
    margin-top: 147px;
}