@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sansita+Swashed:wght@300&family=Spline+Sans+Mono&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sansita+Swashed:wght@300&family=Spline+Sans+Mono&family=Ubuntu:ital@1&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* font-family: 'Spline Sans Mono', monospace; */
}

#navbar{
    /* background-color: #bd35ca; */
    background-color: #19e083;
    padding: 11px 286px;
    /* position: fixed; */
}


#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    padding: 13.5px 30px;
    text-decoration: none;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 1.1rem;
    color: white;
}

#navbar li a:hover{
    background-color: rgb(122, 222, 89);
}

#logo{
    display: flex;
}

#logo img{
    height: 26px;
    margin-left: -250px;
    filter: invert(1);
}

#logo p{
    color: white;
    margin: 4px 6px;
}

#intosection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Sansita Swashed', cursive;
    font-size: 45px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg");
    height: 605px;
    color: white;
}

#intosection div.small{
    font-size: 1.5rem;
}

#missionsection h2{
    text-align: center;
}

#missionsection{
    height: 220px;
    margin: auto;
    width: 66%;
}

.cards {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px 18px;
    height: 150px;
    width: 29%;
    background-color: lightpink;
    text-align: center;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 100px;
}

.card-img img{
    height: inherit;
    margin-left: 3px;
}

#sponsorsection{
    height: 200px;
    color: black;
    background-color: rgb(231, 228, 241);
    text-align: center;
}

#sponsorsection h2{
    font-style: italic;
    font-size: 30px;
}

#sponsors{
    height: 120px;
    max-width: 100px;
    margin: auto
}

.spImage{
    height: 80px;
    margin: 20px;
}

#footer{
    background-color: hwb(0 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 20px;
    color: white;
}